.signup{
  font-family: Roboto, Arial;
  font-size: 12px;
  width: 688px;
  height: 342px;
  display: flex;
  flex-direction: row;
}

.signup__form{
  width: 344px;
  max-height: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  gap: 8px;
}

.signupForm__header{
  margin-top: 34px;
}

.header{
  font-size: 3em;
  font-weight: 500;
  line-height: 42px;
}

.signupForm__send-Out{
  margin-top: 8px ;
  font-weight: 400;
  line-height: 14px;
}

.link_noDecoration{
  text-decoration: none;
  color: #000000;
}

.link_withDecoration{
  color: #0093B4;
}

.signupForm__fields{
}

.fields{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }

.field{
  background-color: #DBDBDB;
  border-radius: 20px;
  margin-left: 44px;
  margin-bottom: 8px;
  padding: 0;
  border: 0;
  width: 256px;
  height: 28px;
}

.halfField {
  background-color: #DBDBDB;
  margin-bottom: 8px;
  padding: 0;
  border: 0;
  height: 28px;
  width: 124px;
}

.halfField_left {
  border-radius: 20px 0 0 20px;
  margin-right: 8px;
  margin-left: 44px;
}

.halfField_right{
  border-radius: 0 20px 20px 0;
}

.signupForm__button{
  margin-top: -16px
}

.button{
  background: #EE171F;
  width: 256px;
  height: 28px;
  border-radius: 20px;
  text-align: center;
  font-family: Roboto, Arial;
  font-size: 14px;
  padding: 8px 0;
}

.button__text{
  text-decoration: none;
  color: white;
  padding-top: 5px;
}

.signupForm__checkbox{
}

.signup__EmptyRectangle {
  width: 344px;
  height: 342px;
  background-color: #C4C4C4;
  border-radius: 0 20px 20px 0;
}
